.carousel{
  padding: 80px 0;
  border-bottom: 2px solid #bfbfbf;
  // height: 100%;
  >div{
    .carousel-box{
      >div{
        height: 80%;
        min-height: 800px;
        >div{
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            // line-height: 100%;
            
          }
        }
      }
    }
  }
}