.introduce{
  background: url("~@/assets/image/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  .introduce-box{
    padding: 200px 0;
    border-bottom: 2px solid #bfbfbf;
    .introduce-text{
      padding: 50px 100px 0;
      font-size: 30px;
      line-height: 2;
      color: #fff;
    }
  }
}