.navigation{
  height: 62px;
  line-height: 62px;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.2);
  // box-shadow: 0 0 5px #888;
  z-index: 9999999;
  // display: none;

  .project{
    float: left;
    color: #656565;
    font-size: 30px;
  }

  .entry{
    float: right;
    .el-button{
      margin-left: 40px;
      background-color: #67C23A;
      color: #fff;
      border: none;
    }
  }
}