.content{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  // border: 1px solid black;
  width: 50vw;
  height: 30vw;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 8px #000;
  
  .form{
    padding: 0 200px;
    .form-line{
      padding: 30px;
    }
  }
}