.manage{
  .manage-box{
    position: relative;
    .input-box{
      padding: 40px 100px 0;
      display: inline-block;
      .el-input{
        max-width: 200px;
      }
      .fl-r{
        position: absolute;
        right: 30px;
      }
    }
  
    table{
      margin-top: 50px;
      width: 100%;
      thead{
        tr{
          background-color: #e3e8ee;
          th{
            padding: 10px 0;
          }
        }
      }
      tbody{
        tr{
          background-color: #fff;
          td{
            min-width: 150px;
            padding: 10px 30px;
            &.img{
              min-width: 50px;
            }
  
            img{
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}